
.particle{
    z-index: 1;
    opacity: 0.4!important;
}
.particle,
.particle::before,
.particle::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  transform-origin: top;
  transition: all 5s linear 0s;
}

.purple {
  -webkit-animation: purple linear 30s alternate infinite;
          animation: purple linear 30s alternate infinite;
  border: 2px solid #241379;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  transform: translate3d(43vw, 14vh, 0);
  z-index: 12;
}

.purple::before {
  -webkit-animation: purple-pseudo linear 15s alternate infinite;
          animation: purple-pseudo linear 15s alternate infinite;
  background: #241379;
  border: 2px solid #241379;
  width: 16px;
  height: 43px;
  transform: translate3d(-25vw, -10vh, 0) rotate(219deg);
}

.purple::after {
  -webkit-animation: purple-pseudo linear 20s alternate infinite;
          animation: purple-pseudo linear 20s alternate infinite;
  border: 2px solid #241379;
  width: 42px;
  height: 42px;
  transform: translate3d(-30vw, 23vh, 0) rotate(203deg);
}

@-webkit-keyframes purple {
  50% {
    transform: translate3d(81vw, 62vh, 0);
  }
  100% {
    transform: translate3d(89vw, 91vh, 0);
  }
}

@keyframes purple {
  50% {
    transform: translate3d(81vw, 62vh, 0);
  }
  100% {
    transform: translate3d(89vw, 91vh, 0);
  }
}
@-webkit-keyframes purple-pseudo {
  33% {
    transform: translate3d(-21vw, -17vh, 0) rotate(250deg);
  }
  100% {
    transform: translate3d(-46vw, -38vh, 0) rotate(223deg);
  }
}
@keyframes purple-pseudo {
  33% {
    transform: translate3d(-21vw, -17vh, 0) rotate(250deg);
  }
  100% {
    transform: translate3d(-46vw, -38vh, 0) rotate(223deg);
  }
}
.medium-blue {
  -webkit-animation: medium-blue linear 30s alternate infinite;
          animation: medium-blue linear 30s alternate infinite;
  border: 2px solid #2185bf;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  transform: translate3d(15vw, 41vh, 0);
  z-index: 9;
}

.medium-blue::before {
  -webkit-animation: medium-blue-pseudo linear 15s alternate infinite;
          animation: medium-blue-pseudo linear 15s alternate infinite;
  background: #2185bf;
  border: 2px solid #2185bf;
  width: 15px;
  height: 5px;
  transform: translate3d(29vw, 0vh, 0) rotate(16deg);
}

.medium-blue::after {
  -webkit-animation: medium-blue-pseudo linear 20s alternate infinite;
          animation: medium-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #2185bf;
  width: 18px;
  height: 44px;
  transform: translate3d(22vw, 0vh, 0) rotate(84deg);
}

@-webkit-keyframes medium-blue {
  50% {
    transform: translate3d(31vw, 84vh, 0);
  }
  100% {
    transform: translate3d(29vw, 79vh, 0);
  }
}

@keyframes medium-blue {
  50% {
    transform: translate3d(31vw, 84vh, 0);
  }
  100% {
    transform: translate3d(29vw, 79vh, 0);
  }
}
@-webkit-keyframes medium-blue-pseudo {
  33% {
    transform: translate3d(27vw, -73vh, 0) rotate(314deg);
  }
  100% {
    transform: translate3d(63vw, -12vh, 0) rotate(182deg);
  }
}
@keyframes medium-blue-pseudo {
  33% {
    transform: translate3d(27vw, -73vh, 0) rotate(314deg);
  }
  100% {
    transform: translate3d(63vw, -12vh, 0) rotate(182deg);
  }
}
.light-blue {
  -webkit-animation: light-blue linear 30s alternate infinite;
          animation: light-blue linear 30s alternate infinite;
  border: 2px solid #1fbce1;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  transform: translate3d(31vw, 37vh, 0);
  z-index: 5;
}

.light-blue::before {
  -webkit-animation: light-blue-pseudo linear 15s alternate infinite;
          animation: light-blue-pseudo linear 15s alternate infinite;
  background: #1fbce1;
  border: 2px solid #1fbce1;
  width: 33px;
  height: 26px;
  transform: translate3d(6vw, 2vh, 0) rotate(355deg);
}

.light-blue::after {
  -webkit-animation: light-blue-pseudo linear 20s alternate infinite;
          animation: light-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #1fbce1;
  width: 11px;
  height: 5px;
  transform: translate3d(5vw, 5vh, 0) rotate(208deg);
}

@-webkit-keyframes light-blue {
  50% {
    transform: translate3d(41vw, 81vh, 0);
  }
  100% {
    transform: translate3d(84vw, 42vh, 0);
  }
}

@keyframes light-blue {
  50% {
    transform: translate3d(41vw, 81vh, 0);
  }
  100% {
    transform: translate3d(84vw, 42vh, 0);
  }
}
@-webkit-keyframes light-blue-pseudo {
  33% {
    transform: translate3d(24vw, -29vh, 0) rotate(91deg);
  }
  100% {
    transform: translate3d(-8vw, -28vh, 0) rotate(205deg);
  }
}
@keyframes light-blue-pseudo {
  33% {
    transform: translate3d(24vw, -29vh, 0) rotate(91deg);
  }
  100% {
    transform: translate3d(-8vw, -28vh, 0) rotate(205deg);
  }
}
.red {
  -webkit-animation: red linear 30s alternate infinite;
          animation: red linear 30s alternate infinite;
  border: 2px solid #b62f56;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  transform: translate3d(23vw, 87vh, 0);
  z-index: 5;
}

.red::before {
  -webkit-animation: red-pseudo linear 15s alternate infinite;
          animation: red-pseudo linear 15s alternate infinite;
  background: #b62f56;
  border: 2px solid #b62f56;
  width: 42px;
  height: 16px;
  transform: translate3d(56vw, -23vh, 0) rotate(188deg);
}

.red::after {
  -webkit-animation: red-pseudo linear 20s alternate infinite;
          animation: red-pseudo linear 20s alternate infinite;
  border: 2px solid #b62f56;
  width: 20px;
  height: 44px;
  transform: translate3d(34vw, -23vh, 0) rotate(33deg);
}

@-webkit-keyframes red {
  50% {
    transform: translate3d(14vw, 98vh, 0);
  }
  100% {
    transform: translate3d(43vw, 91vh, 0);
  }
}

@keyframes red {
  50% {
    transform: translate3d(14vw, 98vh, 0);
  }
  100% {
    transform: translate3d(43vw, 91vh, 0);
  }
}
@-webkit-keyframes red-pseudo {
  33% {
    transform: translate3d(23vw, -18vh, 0) rotate(343deg);
  }
  100% {
    transform: translate3d(28vw, -87vh, 0) rotate(75deg);
  }
}
@keyframes red-pseudo {
  33% {
    transform: translate3d(23vw, -18vh, 0) rotate(343deg);
  }
  100% {
    transform: translate3d(28vw, -87vh, 0) rotate(75deg);
  }
}
.orange {
  -webkit-animation: orange linear 30s alternate infinite;
          animation: orange linear 30s alternate infinite;
  border: 2px solid #d5764c;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  transform: translate3d(28vw, 48vh, 0);
  z-index: 11;
}

.orange::before {
  -webkit-animation: orange-pseudo linear 15s alternate infinite;
          animation: orange-pseudo linear 15s alternate infinite;
  background: #d5764c;
  border: 2px solid #d5764c;
  width: 36px;
  height: 15px;
  transform: translate3d(1vw, 1vh, 0) rotate(166deg);
}

.orange::after {
  -webkit-animation: orange-pseudo linear 20s alternate infinite;
          animation: orange-pseudo linear 20s alternate infinite;
  border: 2px solid #d5764c;
  width: 23px;
  height: 21px;
  transform: translate3d(57vw, -16vh, 0) rotate(216deg);
}

@-webkit-keyframes orange {
  50% {
    transform: translate3d(64vw, 99vh, 0);
  }
  100% {
    transform: translate3d(69vw, 68vh, 0);
  }
}

@keyframes orange {
  50% {
    transform: translate3d(64vw, 99vh, 0);
  }
  100% {
    transform: translate3d(69vw, 68vh, 0);
  }
}
@-webkit-keyframes orange-pseudo {
  33% {
    transform: translate3d(5vw, -85vh, 0) rotate(5deg);
  }
  100% {
    transform: translate3d(7vw, -13vh, 0) rotate(316deg);
  }
}
@keyframes orange-pseudo {
  33% {
    transform: translate3d(5vw, -85vh, 0) rotate(5deg);
  }
  100% {
    transform: translate3d(7vw, -13vh, 0) rotate(316deg);
  }
}
.yellow {
  -webkit-animation: yellow linear 30s alternate infinite;
          animation: yellow linear 30s alternate infinite;
  border: 2px solid #ffd53e;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  transform: translate3d(42vw, 89vh, 0);
  z-index: 3;
}

.yellow::before {
  -webkit-animation: yellow-pseudo linear 15s alternate infinite;
          animation: yellow-pseudo linear 15s alternate infinite;
  background: #ffd53e;
  border: 2px solid #ffd53e;
  width: 19px;
  height: 25px;
  transform: translate3d(56vw, -34vh, 0) rotate(302deg);
}

.yellow::after {
  -webkit-animation: yellow-pseudo linear 20s alternate infinite;
          animation: yellow-pseudo linear 20s alternate infinite;
  border: 2px solid #ffd53e;
  width: 47px;
  height: 45px;
  transform: translate3d(40vw, -45vh, 0) rotate(301deg);
}

@-webkit-keyframes yellow {
  50% {
    transform: translate3d(4vw, 64vh, 0);
  }
  100% {
    transform: translate3d(84vw, 29vh, 0);
  }
}

@keyframes yellow {
  50% {
    transform: translate3d(4vw, 64vh, 0);
  }
  100% {
    transform: translate3d(84vw, 29vh, 0);
  }
}
@-webkit-keyframes yellow-pseudo {
  33% {
    transform: translate3d(79vw, -36vh, 0) rotate(16deg);
  }
  100% {
    transform: translate3d(-76vw, -18vh, 0) rotate(39deg);
  }
}
@keyframes yellow-pseudo {
  33% {
    transform: translate3d(79vw, -36vh, 0) rotate(16deg);
  }
  100% {
    transform: translate3d(-76vw, -18vh, 0) rotate(39deg);
  }
}
.cyan {
  -webkit-animation: cyan linear 30s alternate infinite;
          animation: cyan linear 30s alternate infinite;
  border: 2px solid #78ffba;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  transform: translate3d(4vw, 96vh, 0);
  z-index: 7;
}

.cyan::before {
  -webkit-animation: cyan-pseudo linear 15s alternate infinite;
          animation: cyan-pseudo linear 15s alternate infinite;
  background: #78ffba;
  border: 2px solid #78ffba;
  width: 24px;
  height: 38px;
  transform: translate3d(30vw, -22vh, 0) rotate(8deg);
}

.cyan::after {
  -webkit-animation: cyan-pseudo linear 20s alternate infinite;
          animation: cyan-pseudo linear 20s alternate infinite;
  border: 2px solid #78ffba;
  width: 40px;
  height: 19px;
  transform: translate3d(47vw, -62vh, 0) rotate(106deg);
}

@-webkit-keyframes cyan {
  50% {
    transform: translate3d(27vw, 39vh, 0);
  }
  100% {
    transform: translate3d(10vw, 44vh, 0);
  }
}

@keyframes cyan {
  50% {
    transform: translate3d(27vw, 39vh, 0);
  }
  100% {
    transform: translate3d(10vw, 44vh, 0);
  }
}
@-webkit-keyframes cyan-pseudo {
  33% {
    transform: translate3d(14vw, 16vh, 0) rotate(99deg);
  }
  100% {
    transform: translate3d(88vw, -13vh, 0) rotate(159deg);
  }
}
@keyframes cyan-pseudo {
  33% {
    transform: translate3d(14vw, 16vh, 0) rotate(99deg);
  }
  100% {
    transform: translate3d(88vw, -13vh, 0) rotate(159deg);
  }
}
.light-green {
  -webkit-animation: light-green linear 30s alternate infinite;
          animation: light-green linear 30s alternate infinite;
  border: 2px solid #98fd85;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  transform: translate3d(90vw, 28vh, 0);
  z-index: 5;
}

.light-green::before {
  -webkit-animation: light-green-pseudo linear 15s alternate infinite;
          animation: light-green-pseudo linear 15s alternate infinite;
  background: #98fd85;
  border: 2px solid #98fd85;
  width: 9px;
  height: 33px;
  transform: translate3d(-75vw, 7vh, 0) rotate(119deg);
}

.light-green::after {
  -webkit-animation: light-green-pseudo linear 20s alternate infinite;
          animation: light-green-pseudo linear 20s alternate infinite;
  border: 2px solid #98fd85;
  width: 31px;
  height: 7px;
  transform: translate3d(-45vw, -20vh, 0) rotate(339deg);
}

@-webkit-keyframes light-green {
  50% {
    transform: translate3d(20vw, 79vh, 0);
  }
  100% {
    transform: translate3d(93vw, 76vh, 0);
  }
}

@keyframes light-green {
  50% {
    transform: translate3d(20vw, 79vh, 0);
  }
  100% {
    transform: translate3d(93vw, 76vh, 0);
  }
}
@-webkit-keyframes light-green-pseudo {
  33% {
    transform: translate3d(1vw, 18vh, 0) rotate(292deg);
  }
  100% {
    transform: translate3d(-3vw, 0vh, 0) rotate(359deg);
  }
}
@keyframes light-green-pseudo {
  33% {
    transform: translate3d(1vw, 18vh, 0) rotate(292deg);
  }
  100% {
    transform: translate3d(-3vw, 0vh, 0) rotate(359deg);
  }
}
.lime {
  -webkit-animation: lime linear 30s alternate infinite;
          animation: lime linear 30s alternate infinite;
  border: 2px solid #befb46;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  transform: translate3d(90vw, 55vh, 0);
  z-index: 11;
}

.lime::before {
  -webkit-animation: lime-pseudo linear 15s alternate infinite;
          animation: lime-pseudo linear 15s alternate infinite;
  background: #befb46;
  border: 2px solid #befb46;
  width: 35px;
  height: 45px;
  transform: translate3d(-27vw, 28vh, 0) rotate(283deg);
}

.lime::after {
  -webkit-animation: lime-pseudo linear 20s alternate infinite;
          animation: lime-pseudo linear 20s alternate infinite;
  border: 2px solid #befb46;
  width: 18px;
  height: 27px;
  transform: translate3d(-48vw, -4vh, 0) rotate(302deg);
}

@-webkit-keyframes lime {
  50% {
    transform: translate3d(93vw, 26vh, 0);
  }
  100% {
    transform: translate3d(6vw, 61vh, 0);
  }
}

@keyframes lime {
  50% {
    transform: translate3d(93vw, 26vh, 0);
  }
  100% {
    transform: translate3d(6vw, 61vh, 0);
  }
}
@-webkit-keyframes lime-pseudo {
  33% {
    transform: translate3d(-75vw, 52vh, 0) rotate(127deg);
  }
  100% {
    transform: translate3d(7vw, -43vh, 0) rotate(140deg);
  }
}
@keyframes lime-pseudo {
  33% {
    transform: translate3d(-75vw, 52vh, 0) rotate(127deg);
  }
  100% {
    transform: translate3d(7vw, -43vh, 0) rotate(140deg);
  }
}
.magenta {
  -webkit-animation: magenta linear 30s alternate infinite;
          animation: magenta linear 30s alternate infinite;
  border: 2px solid #6c046c;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  transform: translate3d(53vw, 77vh, 0);
  z-index: 4;
}

.magenta::before {
  -webkit-animation: magenta-pseudo linear 15s alternate infinite;
          animation: magenta-pseudo linear 15s alternate infinite;
  background: #6c046c;
  border: 2px solid #6c046c;
  width: 21px;
  height: 33px;
  transform: translate3d(3vw, -27vh, 0) rotate(313deg);
}

.magenta::after {
  -webkit-animation: magenta-pseudo linear 20s alternate infinite;
          animation: magenta-pseudo linear 20s alternate infinite;
  border: 2px solid #6c046c;
  width: 35px;
  height: 44px;
  transform: translate3d(32vw, -43vh, 0) rotate(239deg);
}

@-webkit-keyframes magenta {
  50% {
    transform: translate3d(52vw, 76vh, 0);
  }
  100% {
    transform: translate3d(95vw, 36vh, 0);
  }
}

@keyframes magenta {
  50% {
    transform: translate3d(52vw, 76vh, 0);
  }
  100% {
    transform: translate3d(95vw, 36vh, 0);
  }
}
@-webkit-keyframes magenta-pseudo {
  33% {
    transform: translate3d(-17vw, -74vh, 0) rotate(257deg);
  }
  100% {
    transform: translate3d(-82vw, 6vh, 0) rotate(12deg);
  }
}
@keyframes magenta-pseudo {
  33% {
    transform: translate3d(-17vw, -74vh, 0) rotate(257deg);
  }
  100% {
    transform: translate3d(-82vw, 6vh, 0) rotate(12deg);
  }
}
.lightish-red {
  -webkit-animation: lightish-red linear 30s alternate infinite;
          animation: lightish-red linear 30s alternate infinite;
  border: 2px solid #f04c81;
  border-radius: 100%;
  width: 33px;
  height: 33px;
  transform: translate3d(46vw, 17vh, 0);
  z-index: 3;
}

.lightish-red::before {
  -webkit-animation: lightish-red-pseudo linear 15s alternate infinite;
          animation: lightish-red-pseudo linear 15s alternate infinite;
  background: #f04c81;
  border: 2px solid #f04c81;
  width: 30px;
  height: 29px;
  transform: translate3d(13vw, 80vh, 0) rotate(152deg);
}

.lightish-red::after {
  -webkit-animation: lightish-red-pseudo linear 20s alternate infinite;
          animation: lightish-red-pseudo linear 20s alternate infinite;
  border: 2px solid #f04c81;
  width: 25px;
  height: 19px;
  transform: translate3d(26vw, -9vh, 0) rotate(132deg);
}

@-webkit-keyframes lightish-red {
  50% {
    transform: translate3d(78vw, 53vh, 0);
  }
  100% {
    transform: translate3d(46vw, 84vh, 0);
  }
}

@keyframes lightish-red {
  50% {
    transform: translate3d(78vw, 53vh, 0);
  }
  100% {
    transform: translate3d(46vw, 84vh, 0);
  }
}
@-webkit-keyframes lightish-red-pseudo {
  33% {
    transform: translate3d(13vw, -46vh, 0) rotate(160deg);
  }
  100% {
    transform: translate3d(-28vw, -14vh, 0) rotate(180deg);
  }
}
@keyframes lightish-red-pseudo {
  33% {
    transform: translate3d(13vw, -46vh, 0) rotate(160deg);
  }
  100% {
    transform: translate3d(-28vw, -14vh, 0) rotate(180deg);
  }
}
.pink {
  -webkit-animation: pink linear 30s alternate infinite;
          animation: pink linear 30s alternate infinite;
  border: 2px solid #ff4293;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  transform: translate3d(49vw, 48vh, 0);
  z-index: 12;
}

.pink::before {
  -webkit-animation: pink-pseudo linear 15s alternate infinite;
          animation: pink-pseudo linear 15s alternate infinite;
  background: #ff4293;
  border: 2px solid #ff4293;
  width: 32px;
  height: 14px;
  transform: translate3d(31vw, 28vh, 0) rotate(26deg);
}

.pink::after {
  -webkit-animation: pink-pseudo linear 20s alternate infinite;
          animation: pink-pseudo linear 20s alternate infinite;
  border: 2px solid #ff4293;
  width: 22px;
  height: 11px;
  transform: translate3d(39vw, 33vh, 0) rotate(350deg);
}

@-webkit-keyframes pink {
  50% {
    transform: translate3d(49vw, 36vh, 0);
  }
  100% {
    transform: translate3d(23vw, 18vh, 0);
  }
}

@keyframes pink {
  50% {
    transform: translate3d(49vw, 36vh, 0);
  }
  100% {
    transform: translate3d(23vw, 18vh, 0);
  }
}
@-webkit-keyframes pink-pseudo {
  33% {
    transform: translate3d(-9vw, 9vh, 0) rotate(93deg);
  }
  100% {
    transform: translate3d(68vw, -10vh, 0) rotate(230deg);
  }
}
@keyframes pink-pseudo {
  33% {
    transform: translate3d(-9vw, 9vh, 0) rotate(93deg);
  }
  100% {
    transform: translate3d(68vw, -10vh, 0) rotate(230deg);
  }
}