:root{
--bg-body : #291a31;
--text : #e8cdf6;
--purple: #8e44ad;
--yellow: #f1c40f;
--green : #94d05e;



}
.material-symbols-outlined {
    font-size: 64px!important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body{
    background-color: var(--yellow);
    color: var(--text);
    
}
.container-top {
    min-height:100vh;
padding : 40px;

}

nav{
    display:flex;
    justify-content: space-between;
}
.logo-container {
    width:200px;
}
.lottie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    z-index: 100;
padding : 40px;

}
.lottie lottie-player{
    flex-grow: 1;
    z-index: 110;
}
.bounce2 {
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
.scroll {
    width:75px;
    height: 75px;
    border-radius: 50%;
   
     position: absolute; 
  left: 0; 
  right: 0; 
  bottom:10px;
  margin-left: auto; 
  margin-right: auto; 
    background-color: var(--purple);
    color:white;
    text-align: center;
 line-height: 40px;
    font-size: 60px;
    

}

.text-purple{
    color: var(--purple);
}
section {
    min-height:100vh;
transition: all 0.5s;
display: flex;
align-items: center;
padding : 40px;


}
section#first{
    background-color: var(--bg-body);


}
section#ne-yapiyoruz{
    background-color: var(--green);
    color: white;
}
section#biz-kimiz{
    background-color: var(--black);
}
.lottie h1{
    font-size: 4rem;
    text-align: center;
    flex-grow: 2;
    flex-basis: 800px;
}
.text-block {
    display: block;
}
.font-weight-bold
{
    display: block;
}

section h4{
    line-height:2.5rem;
    margin-bottom: 30px;
}

/* cards */
.cards-container{
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    margin-bottom: 40px;
}

.card{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
   
}

.card-title{
        font-size: 24px;
    font-weight: bolder;
}