:root{
--bg-body : #291a31;
--text : #e8cdf6;

}

body{
    background-color: var(--bg-body);
    color: var(--text);
    padding : 40px;
}
.lottie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    z-index: 100;
}
.lottie lottie-player{
    flex-grow: 1;
    z-index: 110;
}
.lottie h1{
    font-size: 4rem;
    text-align: center;
    flex-grow: 2;
    flex-basis: 800px;
}
.text-block {
    display: block;
}
.font-weight-bold
{
    display: block;
}