:root{
--bg-body : #291a31;
--text : #e8cdf6;
--purple: #8e44ad;
--yellow: #f1c40f;



}

body{
    background-color: var(--bg-body);
    color: var(--text);
    padding : 40px;
}
.container-top {
    min-height:100vh;
}

nav{
    display:flex;
    justify-content: space-between;
}
.logo-container {
    width:200px;
}
.lottie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    z-index: 100;
}
.lottie lottie-player{
    flex-grow: 1;
    z-index: 110;
}
.text-purple{
    color: var(--purple);
}
.lottie h1{
    font-size: 4rem;
    text-align: center;
    flex-grow: 2;
    flex-basis: 800px;
}
.text-block {
    display: block;
}
.font-weight-bold
{
    display: block;
}